<html>
  <head>
    <meta charset='UTF-8' />
    <title>Voucher</title>
  </head>
  <body>
    <h1>Chúc mừng!</h1>
    <p>Chúng tôi rất vui khi thông báo rằng bạn đã nhận được một voucher.</p>
    <p><strong>Chi tiết Voucher:</strong></p>
    <ul>
      <li><strong>Sự kiện:</strong> {{eventName}}</li>
      <li><strong>Mã Voucher:</strong> {{voucherCode}}</li>
      <li><strong>Giá trị:</strong> {{value}}</li>
    </ul>
    <p>Xin cảm ơn bạn đã tham gia!</p>
    <footer>
      <p>Đội ngũ hỗ trợ khách hàng</p>
    </footer>
  </body>
</html>